CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_RS02_MOTOR_ID=127
CONFIG_RS02_HOST_ID=253
CONFIG_RS02_TWAI_TX_GPIO=4
CONFIG_RS02_TWAI_RX_GPIO=5
# CONFIG_RS02_RUN_LINK_SOAK_TEST is not set
# CONFIG_RS02_RUN_MOTION_TEST is not set
# CONFIG_RS02_RUN_WEB_CONSOLE is not set
